*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::before,*::after{
    box-sizing: border-box;
}
ol,li{
    list-style: none;
}
body{
    font-size: 3.7vw;
    color: #333;
}

section>h2:first-child{
    font-size: 4.53vw;
    border-left: 2px solid #D43C33;
    margin: 4vw 0;
    font-weight: normal;
    padding-left: 2.6vw;
    line-height: 1;
}
.topbar{
    background: #D43C33;
    padding: 4.4vw 2.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}
.topbar .logo{
    width: 38vw;
}

.topbar .downloadApp{
    line-height: 7.9vw;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 4vw;
    display: blcok;
    color: #fff;
    text-decoration: none;
    padding: 0 .6em;
}
.siteNav{
    margin-top: 17.1VW;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: #fff;  
}
.siteNav ol{
    display: flex;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-size: 1.1em;

}
.siteNav > ol > li{
    list-style: none;
    flex: 1;
}
.siteNav > ol > li.active{
    color: #D43C33;
}

.siteNav > ol > li > span{
    height: 11vw;
    line-height: 11vw;
    display: inline-block;
    position: relative;
}

.siteNav > ol > li.active > span::after{
    content: '';
    position: absolute;
    bottom: 0;
    border-top: 1.5px solid #D43C33;
    left: -2vw;
    right: -2vw;
}

.tabContent > li{
    display: none;
}

.tabContent > li.active{
    display: block;
    margin-top: 32.8vw;
}

.tabContent > li:nth-child(2).active {
    display: block;
    margin-top: 28vw;
}

.tabContent > li:nth-child(3).active{
    display: block;
    margin-top: 28.8vw;
}

.hotMusicList > .hotTop{
    position: relative;
    padding-top: 38.9%;
    overflow: hidden;
    background: url(//s3.music.126.net/m/s/img/hot_music_bg_2x.jpg?f01a252389c26bcf016816242eaa6aee) no-repeat;
    background-size: contain;
}
.hotMusicList > .hotTop::after{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0,0,0,.2);
}
.hotMusicList > .hotTop > .hotTopContainer{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding-left: 5.3vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hotMusicList > .hotTop > .hotTopContainer > .hotIcon {
    background: url(//s3.music.126.net/m/s/img/index_icon_2x.png?5207a28c3767992ca4bb6d4887c74880) no-repeat;
    background-size: 44.3vw 26vw;
    width: 37.8vw;
    height: 17.9vw;
    background-position: -6.7vw -7.7vw;
}

.hotMusicList > .hotTop > .hotTopContainer > .hotTime {
    font-size: 3.2vw;
    color: rgba(255,255,255,.8);
    margin-top: 2.7vw;
}

.hotMusicList > .hotFooter{
    height: 15vw;
    line-height: 15vw;
    text-align: center;
    color: #aaa;
}

.tabContent > li > .searchSong > .inputcover svg{
    width: 3.7vw;
    height: 3.7vw;
    color: #333;
    vertical-align: middle;
}
.tabContent > li >.searchSong {
    padding: 4vw 2.6vw;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,.1)
}

.tabContent > li >.searchSong > .inputcover {
    position: relative;
    height: 8vw;
    padding: 0 8vw;
    background: #ebecec;
    border-radius: 8vw;

}
.searchSong > .inputcover> .search {
    position: absolute;
    left: 0;
    top: 2.4vw;
    margin: 0 2.1vw;
    width: 3.7vw;
    height: 3.7vw;
    vertical-align: middle;
    fill: #bbb;
}
 
.searchSong > .inputcover> .input {
    height: 8vw;
    line-height: 4.8vw;
    background: transparent;
    font-size: 3.7vw;
    color: #333;
    border:none;
    outline:none;
}

.searchSong> .inputcover  > .closebox {
    position: absolute;
    top:0;
    right:0;
    width: 30px;
    height: 30px;
    line-height: 26px;
    text-align: center;
}


.searchSong> .inputcover  > .closebox .close {
    /* display: none; */
    vertical-align: middle;
    width: 3.7vw;
    height: 3.7vw;
    fill:#bbb;
}

.tabContent > li > .searchRecommend{
    display: none;
}
.tabContent > li > .hotSearch > h3{
    font-size: 3.7vw;
    font-weight: 400;
    color: #666;
    margin-top: 2.1vw;
    margin-left: 3.7vw;
}

.searchList>li {
    border: 1px solid rgba(0,0,0,.1);
    display: inline-block;
    padding: 0 3.7vw;
    line-height: 2em;
    margin-left: 2.1vw;
    margin-top: 2.1vw;
    border-radius: 3.7vw;
}
.searchRecommend > #output{
    padding-left: 2.7vw;
    height: 13.3vw;
    line-height: 13.3vw;
    font-size: 4.3vw;
    color: #507daf;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.searchRecommend >ol> li{
    padding-left: 2.7vw;
    height: 13.3vw;
    line-height: 13.3vw;
    font-size: 4.3vw;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.searchRecommend >ol >li svg.search{
    width: 4.3vw;
    height: 4.3vw;
    fill: #aaa;
    margin-right: 2vw;
    margin-bottom: -1px;
}
.playlists > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.93em;
}
.playlists > ul > li{
    width: calc(33.333333333% - 0.5vw);
    margin-bottom: 4vw;
    position: relative;
}
.playlists > ul > li p{
    padding: 0 1vw;
    line-height: 4vw;
    height: 8vw;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playlists > ul img{
    width: 100%;
}
.playlists > ul > li .icon-listen{
    color: #fff;
    position: absolute;
    top: 0;
    right: 1.5vw;
} 
.playlists > ul > li svg{
    width: 2.7vw;
    height: 2.7vw;
    fill: #fff;
}
.lastestMusic{

}

.lastestMusic > p{
    text-align: center;
}
.lastestMusic > ol{
    padding-left: calc(2.6vw + 2px);
}
.lastestMusic > ol > li{
    border-bottom: 0.5px solid #e2e2e3;
    padding: 1vw 0;
    position: relative;
}

.lastestMusic > ol > li a{
    text-decoration: none;
    color: inherit;
}
.lastestMusic > ol > li h3{
    font-size: 4.53vw;
    font-weight: normal;
}

.lastestMusic > ol > li p{
    font-size: 3.2vw;
    color: #888;
    line-height: 1;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.lastestMusic > ol > li svg.play{
    width: 7vw;
    height: 7vw;
    position: absolute;
    right: 3vw;
    top: 50%;
    transform: translateY(-50%);
    fill: #aaa;
}

.lastestMusic > ol > li svg.sq{
    display: inline-block;
    vertical-align: middle;
    width: 4.2vw;
    height: 4.2vw;
    margin-right: 0.5em;
    fill: #fe672e;
}
section.art{
    background: transparent url(http://s3.music.126.net/m/s/img/recommand_bg_2x.png?d045fafc60e017b653f8065a87496922) no-repeat center 0;
    padding-top: 17.6vw;
    background-size: cover;
    padding-bottom: 5vw;
}
section.art .logo{
    text-align: center;
}
section.art .logosvg{
    width: 61.7vw;
}

section.art .openApp{
    display: block;
    max-width: 81.3vw;
    padding: 1vw 0;
    margin: 0 auto;
    text-align: center;
    color: #D43C33;
    border: 1px solid ;
    font-size: 4.3vw;
    text-decoration: none;
    line-height: 8.6vw;
    border-radius: 5.4vw;
    margin-bottom: 1vw;
    margin-top: 3vw;
}
section.art .copyright{
    font-size: 3.2vw;
    transform: scale(.75);
    text-align: center;
    color: #888;
}


.introduction{
    display: flex;
    padding: 
}